<!--This is the handlebars page for the home page with information about nelisa and her shop-->
<div id="page-wrapper" >
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="/queries/new">New</a></li>
    <li role="presentation"><a href="/queries/clear">Clear</a></li>
  </ul>

  <div class="list-group">
    {{#queries}}
    <a href="/agent/accept/{{this.query_id}}"  class="queryBox{{this.query_id}} list-group-item">
        <strong>Driver: </strong>{{this.username}}
      </br>
        <strong>Query: </strong>{{this.query}}
        <span class="badge">{{this.status}}</span>
    </a>
    {{/queries}}
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();

  socket.on('query_added', function(obj){
      var query_id = obj.query_id;

      //alert(query_id);

      var query = "<a href='/agent/accept/" + query_id +"' class='queryBox" + query_id +" list-group-item'><strong>Driver: </strong>"+obj.username+"</br><strong>Query: </strong>"+obj.query+"</a>";
      $(".queryBox" + query_id).click(function(){
        $(".queryBox" + query_id).css({
                                           'background-color' : 'green',
                                           'color' : '#fff'
                                      });
      });
      //alert(query);

      $(".list-group").prepend(query);
      $(".queryBox" + query_id).css({
                                         'background-color' : 'red',
                                         'color' : '#fff'
                                    });
  });

</script>
